.App {
  --card-radius: 1rem;
  --divider-min-width: 720px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.card {
  background-color: var(--white);
  border-radius: var(--card-radius);
  border-bottom-right-radius: calc(var(--card-radius) * 15);

  padding: 3.5rem;
  margin: 1rem;
}

.inputs {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.input-group {
  max-width: 160px;
  min-height: 8rem;
}

.input-group label {
  display: block;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.15em;
  margin-bottom: 0.4rem;
  color: hsl(0, 1%, 44%);
  text-transform: uppercase;
}

.input-group input {
  display: block;
  width: 100%;
  padding: 0.6rem 1.2rem;
  font-size: 2rem;
  font-weight: 800;
  border-radius: 0.4rem;
  border: 1px solid hsl(0, 0%, 86%);
  transition: border-color 0.25s;
  outline: none;
}

.input-group input:focus,
input:active {
  border-color: #646cff;
}

.input-group.error label {
  color: var(--error-color);
}

.input-group.error input {
  border-color: var(--error-color);
}

.input-group.error .error-message {
  display: block;
  font-size: 14px;
  margin-top: 0.4rem;
  color: var(--error-color);
}

.divider {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  position: relative;
}

.divider .line {
  display: block;
  flex: 1;
  height: 2px;
  background-color: var(--off-white);
  min-width: var(--divider-min-width);
}

.btn-submit {
  --radius: 5.5rem;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--radius);
  height: var(--radius);
  border-radius: 50%;
  border: none;
  background-color: var(--primary-color);
  cursor: pointer;
  transition: background-color 0.25s;
}

.btn-submit:hover {
  background-color: var(--off-black);
}

.result p {
  font-size: 6rem;
  font-weight: 800;
  font-style: italic;
  margin: 0;
  line-height: 1.1;
}

.result span {
  color: var(--primary-color);
}

@media screen and (max-width: 600px) {
  .App {
    --divider-min-width: auto;

    min-height: auto;
  }

  .card {
    border-bottom-right-radius: calc(var(--card-radius) * 5);

    padding: 2rem;
  }

  .input-group {
    min-height: 5.5rem;
  }

  .inputs {
    gap: 0.5rem;
  }

  .input-group label {
    display: block;
    font-weight: 700;
    font-size: 12px;
  }

  .input-group input {
    font-size: 1rem;
  }

  .input-group.error .error-message {
    font-size: 12px;
  }

  .result p {
    font-size: 3rem;
  }

  .btn-submit {
    --radius: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
